@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@import "tailwindcss";

:root {
  --background: #091040;
  --foreground: #f7f7f7;
  --navbar-bg: #060e48;
  --navbar-fg: #f7f7f7;
  --navbar-bg-actived: #EC0BF7;
  --navbar-fg-hover: #b0bbff;
  --navbar-fg-actived: #091040;
  --materi-underline: #4A94B9;
  --font-family: 'Montserrat', sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-family);
}

.nav-link:hover {
  color: var(--navbar-fg-hover);
  transform: scale(1.05);
  transition: transform 0.5s ease;
}

.link-position-navbar {
  background-color: var(--navbar-bg-actived);
  border-radius: 20px;
  color: var(--navbar-fg-actived);
}